@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;
}

.filled {
  fill: #574ae8;
}

.iconLike {
  fill: #574ae801;
  stroke: #574ae8;
  transition: fill 0.3s;
  cursor: pointer;
  stroke-width: 7;
}
